@import url("./fibra-base.css");

#anexos-existentes-container .list-group-item {
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  max-height: 60px;
  border-color: #e2e8f0;
}

#anexos-existentes-container .list-group-item.marked-for-removal {
  opacity: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: -1px;
  border-width: 0;
}

.btn-remover-anexo:hover {
  background: #dc2626;
  color: #fff;
}
