#map {
  height: 70vh;
  width: 100%;
  border-radius: 0.375rem;
}

.measurement-tooltip {
  background-color: #ffffff;
  color: #6f42c1;
  border: 1px solid #6f42c1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 4px;
}

#map-filter-container .filter-group {
  gap: 0.5rem 1rem;
}

.btn-purple {
  color: #fff;
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.btn-purple:hover {
  color: #fff;
  background-color: #5a34a3;
  border-color: #543099;
}

/* REGRA FINAL E CORRIGIDA */
/* Define o estado normal e o hover para serem idênticos (sem efeito de hover) */
.leaflet-popup-content .btn-primary,
.leaflet-popup-content .btn-primary:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  transition: none; /* Remove qualquer transição suave */
}

/* Define um estilo específico APENAS para o estado de clique (:active) */
.leaflet-popup-content .btn-primary:active {
  background-color: #0a58ca; /* Tom de azul mais escuro do Bootstrap */
  border-color: #0a53be;
}
